{% extends "base.html" %}
{% load workflow_tags %}

{% block content %}

<div class="container min-height-page">
    <div class="card mt-2 mb-4">
        <div class="card-header card-header-title">
            {{ title }}
        </div>
        <div class="card-body">
            {{ form.errors }}
            <p>{% wtrans "Object" %}: <b>{{ object }}</b></p>
            <p{% if transition.state_description %} title="{{ transition.state_description }}"{% endif %}>{% wtrans "Current phase" %}: {{ object.current_state.phase }}</p>
            <p>{% wtrans "Owner" %}: <i>
            {% if object.current_state.owner %}
                {% if object.current_state.owner == request.user %}
                    {% wtrans "Me" %}
                {% else %}
                    <b>{{ object.current_state.owner }}</b>
                {% endif %}
            {% else %}
                {% wtrans "None" %}
            {% endif %}</i>
            </p>
            {% if show_user and last_owner %}
            <p>{% wtrans "Previous owner in phase" %} <i>{{ transition.destination }}</i>: <b>{{ last_owner }}</b></p>
            {% endif %}

            <hr>

            <form action="" method="POST">{% csrf_token %}
                {% if show_user %}
                <div class="mb-3">
                    <label class="form-label" for="{{ form.owner.id_for_label }}">{{ form.owner.label }}</label>
                    {{ form.owner }}
                    {{ form.owner.errors }}
                </div>
                {% else %}
                <p>{% wtrans "Recipient" %}: {{ dest_owner }}</p>
                {% endif %}
                {% if transition.command == 'reject' %}
                <p>{% wtrans "Reject to phase" %}: <b>{{ object.current_state.get_previous_state.phase }}</b></p>
                {% endif %}
                {% if show_message %}
                <div class="mb-3">
                    <label class="form-label" for="{{ form.message.id_for_label }}">{{ form.message.label }}</label>
                    {{ form.message }}
                    {{ form.message.errors }}
                </div>
                {% endif %}
                <p{% if transition.phase_str != transition.destination and transition.destination_description %} title="{{ transition.destination_description }}"{% endif %}>{{ message }}</p>
                <div class="d-flex">
                <button class="btn {% if object.current_state.owner and object.current_state.owner != request.user %}btn-danger{% else %}btn-primary{% endif %}" type="submit">{{ button_caption }}</button>
                <a class="btn btn-outline-primary ms-3" href="{{ cancel_url }}">{% wtrans "Cancel" %}</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
