{% extends "base.html" %}
{% load workflow_tags %}

{% block content %}
{% wf_history_show_trans_type as show_trans_type %}

<div class="container min-height-page">
    <div class="card mt-2 mb-4">
        <div class="card-header card-header-title">
            {% wtrans "State history" %}
        </div>
        <div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <div class='d-flex justify-content-between align-items-center'>
            <p style="font-size:18px;"><strong>{{ object }}</strong></p>
            <a class="btn btn-outline-primary pull-right" href="{{ object.get_absolute_url }}">{% wtrans "Back to detail" %}</a>
            </div>
            <table class="table table-bordered table-condensed mt-4">
                <tr>
                    {% if show_trans_type %}<th>{% wtrans "Transition" %}</th>{% endif %}
                    <th>{% wtrans "Phase" %}</th>
                    <th>{% wtrans "Date" %}</th>
                    <th>{% wtrans "Operator" %}</th>
                    <th>{% wtrans "Owner" %}</th>
                    <th>{% wtrans "Message" %}</th>
                </tr>

                {% for state in states %}
                <tr>
                    {% if show_trans_type %}<td><span title="{{ state.transition_type }}">{{ state.transition_type_display }}</span></td>{% endif %}
                    <td>{% if state.suspended %}<span class="suspended" title="{% wtrans "suspended" %}"><b>s</b>:{{ state.phase }}</span>{% else %}{{ state.phase }}{% endif %}
                    </td>
                    <td>{{ state.state_date|date:"D d-m-Y H:i:s" }}</td>
                    <td>{% state_operator state %}</td>
                    <td>{{ state.owner|default:"-" }}</td>
                    <td>{{ state.message|default:""|linebreaks }}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}
