{% load workflow_tags %}

<div class='col-md-2 mt-3'>
    {{ form.search_wf_proprietario.label_tag }}{{ form.search_wf_proprietario }}
</div>
<div class='col-md-2 mt-3'>
    {{ form.search_wf_fase.label_tag }}{{ form.search_wf_fase }}
</div>
<div class='col-md-2 mt-3'>
    {{ form.search_wf_messaggio.label_tag }}{{ form.search_wf_messaggio }}
</div>
<div class='col-md-1 mt-3'>
    {{ form.search_wf_sospeso.label_tag }}{{ form.search_wf_sospeso }}
</div>
<div class='col-md-2 mt-3'>
    {{ form.search_wf_stato_old.label_tag }}{{ form.search_wf_stato_old }}
</div>
<div class='col-md-2 mt-3 d-flex'>
    {{ form.search_wf_data_min.label_tag }}{{ form.search_wf_data_min }}
    {{ form.search_wf_data_max.label_tag }}{{ form.search_wf_data_max }}
</div>
<div class='col-md-2 mt-3'>
    {{ form.search_wf_da_leggere.label_tag }}{{ form.search_wf_da_leggere }}
</div>
<div class='col-md-1 mt-3'>
    {{ form.search_following.label_tag }}{{ form.search_following }}
</div>
