{% load workflow_tags %}

<div class='col-md-2 mt-3'>
    {{ form.search_wf_owner.label_tag }}{{ form.search_wf_owner }}
</div>
<div class='col-md-2 mt-3'>
    {{ form.search_wf_phase.label_tag }}{{ form.search_wf_phase }}
</div>
<div class='col-md-2 mt-3'>
    {{ form.search_wf_message.label_tag }}{{ form.search_wf_message }}
</div>
<div class='col-md-1 mt-3'>
    {{ form.search_wf_suspended.label_tag }}{{ form.search_wf_suspended }}
</div>
<div class='col-md-2 mt-3'>
    {{ form.search_wf_history.label_tag }}{{ form.search_wf_history }}
</div>
<div class='col-md-2 mt-3 d-flex'>
    {{ form.search_wf_date_min.label_tag }}{{ form.search_wf_date_min }}
    {{ form.search_wf_date_max.label_tag }}{{ form.search_wf_date_max }}
</div>
<div class='col-md-2 mt-3'>
    {{ form.search_wf_unread.label_tag }}{{ form.search_wf_unread }}
</div>
<div class='col-md-1 mt-3'>
    {{ form.search_following.label_tag }}{{ form.search_following }}
</div>
